/* RESET */
h1,
h2,
h3,
p {
    margin: 0;
    font-size: 0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* FONT  */
:root {
    font-family: "Montserrat", sans-serif;
    /*
	font-weight: 500;
	font-weight: 700;
	*/
}

/* STYLE */
body {
    background-color: #51318b;
}
.wrapper {
    max-width: 1080px;
    margin: 100px auto;
}

.portfolio-header {
    display: flex;
    margin-bottom: 100px;
}
.portfolio-header__title {
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    width: 26%;
    flex-shrink: 0; /* 26% 보장 */
}
.portfolio-header__title h1,
strong {
    font-size: inherit;
    font-weight: inherit;
    color: #ffffff;
}
.portfolio-header__title strong {
    position: relative;
    z-index: 1;
}
.portfolio-header__title strong::after {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.5em;
    background-color: #d9501a;
    z-index: -1;
}

.portfolio-header__subtitle {
    flex-grow: 1; /* flex-basis: 74%; */
    display: flex;
    align-items: center;
    color: #a887e1;
    margin: auto 0;
}
.portfolio-header__subtitle__line {
    width: 75px;
    margin-right: 24px;
    height: 2px;
    background-color: #a887e1;
}
.portfolio-header__subtitle__text {
    font-size: 14px;
    line-height: 1.5em;
    color: #a887e1;
}

.portfolio-contents-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.portfolio-contents-item {
    display: flex;
}

.portfolio-contents-item_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.portfolio-contents-item__title {
    width: 26%;
    flex-shrink: 0; /* 26% 보장 */
    position: relative;
}

.portfolio-contents-item__title p {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(103, 50, 152, 0.5);
    color: #ffffff;
    font-size: 30px;
    height: 100%;
}
.portfolio-contents-item__title__img {
    /* width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(103, 50, 152, 0.5);
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 백그라운드보다 마크업으로 넣는 것이 유지보수에 더 굿!
#rest {
    background-image: url(./images/photo01.png);
    background-size: cover;
}
#craft {
    background-image: url(./images/photo02.png);
    background-size: cover;
}
#scrap {
    background-image: url(./images/photo03.png);
    background-size: cover;
} */

.portfolio-contents-item__list {
    background-color: #ffffff;
    flex-grow: 1; /* flex-basis: 74%; */
    font-size: 14px;
    padding: 24px;
}
.portfolio-contents-item__list h3 {
    font-size: 18px;
    margin-bottom: 32px;
    color: #51318b;
}

/* 다른 곳에서도 사용할 수 있도록 별도로 관리 */
.lists {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 10px;
    color: #565656;
    padding-left: 20px;
}
.lists li + li {
    margin-top: 10px;
}
/* 가상 요소로 글머리 기호 추가해주기 */
.lists li::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bc8ee8;
    content: " ";
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -20px;
}
