/* Reset */
h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding-inline-start: 0px;
    list-style-type: none;
    font-size: 0;
}
.title {
    font-size: 0; /*html 개행 공백 제거 */
}

/* Style */
body {
    background-color: #dddddd;
}

.wrapper {
    background-color: #efefef;
    width: 400px;
    border-radius: 28px;
    margin: 100px auto;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.08);
}

.title {
    background-color: #ffffff;
    padding: 40px 0;
    border-bottom: 4px solid #dddddd;
    vertical-align: middle;
    border-radius: 28px 28px 0px 0px;
    border-bottom: 4px solid #dddddd;
}

.title-box {
    width: 10px;
    height: 31px;
    display: inline-block;
    background-color: #ff1493;
    vertical-align: inherit;
}

.title-text {
    color: #ff1493;
    margin-left: calc(30px + 4px - 10px);
    display: inline-block;
    vertical-align: inherit;
}

.title-text h1 {
    font-size: 19px;
}

.content {
    display: flow-root; /* 마진 겹침 해결 */
}

ul {
    margin: 30px;
}
li {
    background-color: #ffffff;
    color: #333333;
    padding: 12px 14px 14px 14px;
    margin: 12px 0px;
    font-size: 12px;
    line-height: 1em;
    font-weight: 500;
    border: 4px solid #aaaaaa;
    border-radius: 6px;
}

#checked {
    color: #1e91ff;
    border-color: #1e91ff;
}
