/* RESET */
h1,
h2,
h3,
p {
    margin: 0;
    font-size: 0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* FONT  */
:root {
    font-family: "Montserrat", sans-serif;
    /*
	font-weight: 500;
	font-weight: 700;
	*/
}

/* STYLE */
body {
    background-color: #51318b;
}
.wrapper {
    max-width: 1080px;
    margin: 100px auto;
}

.portfolio-header {
    display: flex;
    margin-bottom: 100px;
}
.portfolio-header__title {
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    flex-basis: 26%;
}
.portfolio-header__title h1,
strong {
    font-size: inherit;
    font-weight: inherit;
    color: #ffffff;
}
.portfolio-header__title_underline {
    box-shadow: inset 0 -20px #d9501a;
}
.portfolio-header__subtitle {
    flex-basis: 74%;
    display: flex;
    align-items: center;
    color: #a887e1;
}
.portfolio-header__subtitle__line {
    width: 75px;
    margin-right: 24px;
    height: 2px;
    background-color: #a887e1;
}
.portfolio-header__subtitle__text {
    font-size: 14px;
    line-height: 1.5em;
    color: #a887e1;
}

.portfolio-contents-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.portfolio-contents-item {
    display: flex;
}

.portfolio-contents-item_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.portfolio-contents-item__title {
    flex-basis: 26%;
}
.portfolio-contents-item__title__box {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(103, 50, 152, 0.5);
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rest {
    background-image: url(./images/photo01.png);
    background-size: cover;
}
#craft {
    background-image: url(./images/photo02.png);
    background-size: cover;
}
#scrap {
    background-image: url(./images/photo03.png);
    background-size: cover;
}

.portfolio-contents-item__list {
    background-color: #ffffff;
    flex-basis: 74%;
    font-size: 14px;
    padding: 24px;
}
.portfolio-contents-item__list h3 {
    font-size: 18px;
    margin-bottom: 32px;
    color: #51318b;
}
.portfolio-contents-item__list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #565656;
}
.portfolio-contents-item__list li::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bc8ee8;
    content: "";
    border-radius: 50%;
    margin-right: 10px;
}
