/* RESET */
.login-button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    text-decoration-color: inherit;
}
a:visited {
    color: inherit;
}


/* Style */
.login-section {
    margin: 200px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    padding: 19px 16px 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.welcome-txt {
    margin-top: 3px
}

.login-button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #711BFF;
    margin: 16px auto;
}

.logo-img {
    position: relative;
    top: -1px;
    margin-right: 4px;
    padding-top: 10px;
}
.login-txt {
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    position: relative;
    bottom: 4px;
}
.user {
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    color: #767676;
    
}
.forget-id-pw {
    display: flex;
    gap: 4px;
    align-items: flex-end;
}
.register {
    display: flex;
    gap: 4px;
    align-items: flex-end;
}